/* *{
  border: 1px dotted green; 
} */

#refresh{ 
  color: #2258a9;
}

a:link{ 
  color: #2258a9;
  text-decoration: none;
}

a:active{ 
  color: #2258a9;
  text-decoration: none;
}

a:visited{ 
  color: #2258a9; 
  text-decoration: none;

}

#temperature{ 
  color: white; 
  z-index: 100;
  position: absolute;
  top: 3%; 
  left: 33%; 
  font-size: 0.85em;
  font-weight: 550;  

}

#location{ 
  color: black;
  z-index: 100;
  font-size: 0.75em;
  position: absolute;
  top: 23%; 
  left: 58.75%;  
  font-weight: 550;  


}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black; 
}

li i{
  display: inline;
}


li p{ 
  display: inline; 
}



.lineThrough{ 
  text-decoration: line-through;
  color: grey;  
}


.fas.fa-trash{ 
  text-align: right;   

}



.header{ 
  /* outline: 5px dotted green;  */
  height: auto;
  position: relative; 
  color: white; 
  font-size: 1em; 

}

.bottom-text{ 
  position: absolute; 
  top: 79.5%; 
  left: 47.6%; 
}

.centered-text{ 
  position: absolute; 
  top: 46.5%; 
  left: 48.5%; 
}

.header-img{ 
  width: 35%; 
}

input:focus{ 
  outline: none; 
}

input{
  font-size: 1em; 
  border: 0; 
  padding-left: 8em; 
}


li{ 
  font-size: 1em; 
}


li:not(:last-child) {
  margin-bottom: 10px;
}

ul{ 
  list-style-type: none;
  padding: 0; 
}

body{ 
  text-align: center;
}

.varun-max {
  text-align: left; 
  max-width: 35%; 
  /*0 is nothing from the top and auto centers the div*/
  margin: 0 auto; 
  height: auto; 

}

#particles-js{ 
	width:100%;
	height: 100%; 
	background-color: #19315c; 
	background-size: cover;
}	

